@model BookManagementSystem_MVC_14042024.Models.PublisherWrapper

@* Data strored inside the Model Property*@




@section head{
    <style>
        .ImageIcons {
            height: 25px;
            width: 25px;
        }
    </style>
}



<div class="row">
    <div class="col-6 offset-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                @if (Model.pager.TotalPage > 1)
                {
                    if (Model.pager.CurrentPage > 1)
                    {
                        @Html.ActionLink("Previous", "Index", new { pageno = Model.pager.CurrentPage - 1 }, new { @class = "page-link" })

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                    }

                    for (int i = Model.pager.StartPage; i <= Model.pager.EndPage; i++)
                    {
                        <li class="page-item">
                            @Html.ActionLink(i.ToString(), "Index", new { pageno = i }, new { @class = "page-link" })
                        </li>
                    }

                    if (Model.pager.CurrentPage < Model.pager.TotalPage)
                    {
                        @Html.ActionLink("Next", "Index", new { pageno = Model.pager.CurrentPage + 1 }, new { @class = "page-link" })

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-6 offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Registration Number</th>
                    <th>Publication Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.publishers)
                {
                    <tr>
                        <td>@item.RegistrationId</td>
                        <td>@item.PublisherName</td>
                        <td>
                            <a href="/Publisher/Edit/@item.PublisherId">
                                <img src="~/Content/Icons/edit.png" class="ImageIcons" />
                            </a>
                            <img src="~/Content/Icons/delete.jpg" class="ImageIcons" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

